{% extends 'base.html' %}
{% load static %}


{% block styles %}{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto p-9 space-y-10 min-h-[67vh]">
    <h1 class="text-3xl font-bold text-center mb-4">About People of Anioma</h1>
    <div class="w-full h-1 bg-orange-500"></div>
    <p class="min-h-[40vh] text-lg text-gray-700 dark:text-gray-300 leading-relaxed">
        People of Anioma is a cultural, ethnographic and storytelling initiative designed to preserve, promote,
        and explore the rich heritage of the Anioma people. Through technology, data, and community-driven projects,
        we aim to document and celebrate the language, identity, migration patterns, oral histories, and contemporary
        experiences of Anioma communities both at home and in the diaspora.
    </p>
</div>
{% endblock %}
