# Python
*.pyc
__pycache__/

# Virtual Environment
venv/

# Django
db.sqlite3
*.sqlite3
/media/
/staticfiles/
.env
.env.*
!.env.example

# Environment
backend/.env
*.env

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Tailwind CSS output
backend/static/css/tailwind.css


# Logs
*.log

# Coverage reports
htmlcov/
.coverage
render.yaml
node_modules/
local_settings.py
base2.html
base3.html
base4.html