Django
Jinja2
MarkupSafe
PyPDF2
PyYAML
Pygments
XlsxWriter
annotated-types
asgiref
astroid
blis
branca
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
dill
django-browser-reload
django-cors-headers
django-ratelimit
django-tailwind
django-widget-tweaks
djangorestframework
drf-yasg
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
filelock
folium
fonttools
fsspec
gTTS
gensim
geojson
geopandas
huggingface-hub
idna
inflection
joblib
kiwisolver
langcodes
language_data
llvmlite
lxml
marisa-trie
markdown-it-py
matplotlib
mccabe
mdurl
more-itertools
mpmath
murmurhash
mypy_extensions
narwhals
networkx
nltk
numba
numpy
openpyxl
packaging
pandas
pathspec
pillow
platformdirs
plotly
preshed
psycopg2-binary
pyarrow
pydantic
pydantic_core
pydub
pyogrio
pyparsing
pyproj
python-dateutil
python-decouple
python-docx
python-dotenv
pyttsx3
pytz
regex
requests
rich
safetensors
scikit-learn
sentence-transformers
shapely
shellingham
six
smart-open
spacy-legacy
spacy-loggers
spacy
sqlparse
srsly
sympy
thinc
threadpoolctl
tiktoken
tokenizers
tomlkit
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
wasabi
weasel
whisper
wordcloud
wrapt
xyzservices