{% load blog_reaction_filter %}
<div class="flex gap-2 my-4">
  <button class="reaction-btn hover:scale-110 transition" 
          data-post-id="{{ post.id }}" 
          data-reaction="like">
    👍 {{ post|blog_reaction_count:'like' }}
  </button>
  <button class="reaction-btn hover:scale-110 transition" 
          data-post-id="{{ post.id }}" 
          data-reaction="love">
    ❤️ {{ post|blog_reaction_count:'love' }} 
  </button>
  <button class="reaction-btn hover:scale-110 transition" 
          data-post-id="{{ post.id }}" 
          data-reaction="laugh">
    😆 {{ post|blog_reaction_count:'laugh' }} 
  </button>
  <!-- Add more reactions as needed -->
   <button class="reaction-btn hover:scale-110 transition" 
          data-post-id="{{ post.id }}" 
          data-reaction="clap">
    👏 {{ post|blog_reaction_count:'clap' }} 
  </button>
  <button class="reaction-btn hover:scale-110 transition" 
          data-post-id="{{ post.id }}" 
          data-reaction="insightful">
    💡  {{ post|blog_reaction_count:'insightful' }} 
  </button>
</div>
